<template>
    <slot></slot>
    <lightning-layout horizontal-align="start" multiple-rows class="slds-m-around--medium">
        <lightning-layout-item class="slds-max-small-size--1-of-1 slds-order_4 slds-small-order_1">
            <lightning-button variant="destructive" label="Cancel" onclick={doCancel}
                class="slds-max-small-size--1-of-1 slds-m-top_x-small">
            </lightning-button>
        </lightning-layout-item>
        <lightning-layout-item class="slds-max-small-size--1-of-1 slds-order_2 slds-small-order_2">
            <lightning-button variant="neutral" label="Previous" onclick={previousHandler}
                class="navigation-button slds-max-small-size--1-of-1 slds-m-top_x-small slds-m-left_xx-small">
            </lightning-button>
        </lightning-layout-item>
        <lightning-layout-item class="slds-max-small-size--1-of-1 slds-order_3 slds-small-order_3">
            <lightning-button variant="neutral" label="New Account" onclick={createAccountHandle}
                class="navigation-button slds-max-small-size--1-of-1 slds-m-top_x-small slds-m-left_xx-small">
            </lightning-button>
        </lightning-layout-item>
        <lightning-layout-item class="slds-max-small-size--1-of-1 slds-order_1 slds-small-order_4">
            <lightning-button variant="brand" label="Next" onclick={nextHandler} disabled={contextData.selectedAccount}
                class="slds-max-small-size--1-of-1 slds-m-top_x-small slds-m-left_xx-small">
            </lightning-button>
        </lightning-layout-item>
    </lightning-layout>
</template>