<template>
    <slot></slot>
    <lightning-layout horizontal-align="start" multiple-rows class="slds-m-around--medium">
        <lightning-layout-item class="slds-max-small-size--1-of-1 slds-order_2 slds-small-order_1">
            <lightning-button variant="destructive" label={label.cancel} onclick={doCancel}
                class="slds-max-small-size--1-of-1 slds-m-top_x-small">
            </lightning-button>
        </lightning-layout-item>
        <lightning-layout-item class="slds-max-small-size--1-of-1 slds-order_1 slds-small-order_2">
            <lightning-button variant="brand" label={label.next} onclick={nextHandler} disabled={contextData.selectedPayment}
                class="slds-max-small-size--1-of-1 slds-m-top_x-small slds-m-left_xx-small">
            </lightning-button>
        </lightning-layout-item>
    </lightning-layout>
</template>