.THIS .text-bold {
   font-weight: bold;
}
@media (min-width: 80em) {
   .THIS .x-large-size_3-of-12 {
       width: 25%;
   }
}
.THIS .table-responsive {
   display: block;
   width: 100%;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   max-height: 350px;
}
.THIS .search-result-table th > *, .THIS .search-result-table td > * {
   max-width: 300px;
}
@media (max-width: 30em) {
   .THIS .slds-m-left_xx-small{
      margin-left: 0;
   }
}
.THIS .table-responsive .input-ledger-account {
   width: 300px;
}
.THIS .table-responsive .input-ledger-account label {
   display: none;
} 
.THIS .table-responsive .input-amount {
    width: 150px;
}
.THIS .table-responsive .input-congregation {
    width: 200px;
}
.THIS .table-responsive .input-congregation div[role="listbox"] {
   z-index: 90 !important;
}
.THIS .table-responsive td {
    position: static;
}
.THIS .slds-accordion__content > div {
    position: relative;
}
.THIS:focus{
   outline: none !important;
}