.THIS .table-responsive {
   display: block;
   width: 100%;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   max-height: 350px;
}
.THIS .search-result-table th > *, .THIS .search-result-table td > * {
   max-width: 300px;
}
@media (max-width: 30em) {
   .THIS .slds-m-left_xx-small{
      margin-left: 0;
   }
}
.THIS:focus{
   outline: none !important;
}