.THIS .slds-form-element label {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   max-width: 100%;
}
@media (max-width: 30em) {
   .THIS .navigation-button.slds-m-left_xx-small{
      margin-left: 0;
   }
}
.THIS .radio-group {
   display: flex;
   justify-content: center;
}
.THIS div[lightning-recordform_recordform].slds-align_absolute-center {
   display: block;
   padding: 1rem 0;
}
