<template>
    <c-child-lwc-component>
        <div style="border: 1px solid yellow">
            Content in the slot
        </div>
    </c-child-lwc-component>
    <div if:true={display.firstPage}>
        <c-payment-linking-tool-select-payment-l-w-c onswitchcurrentcomponent={switchCurrentComponentHandler}>
            one
        </c-payment-linking-tool-select-payment-l-w-c>
    </div>
    <div if:true={display.secondPage}>
        <c-payment-linking-tool-select-account-l-w-c onswitchcurrentcomponent={switchCurrentComponentHandler}>
            two
        </c-payment-linking-tool-select-account-l-w-c>
    </div>
    <div if:true={display.thirdPage}>
        <c-payment-linking-tool-allocate-payment-l-w-c onswitchcurrentcomponent={switchCurrentComponentHandler}>
            three
        </c-payment-linking-tool-allocate-payment-l-w-c>
    </div>
</template>