.THIS .text-bold {
    font-weight: bold;
}
@media (min-width: 80em) {
    .THIS .x-large-size_3-of-12 {
        width: 25%;
    }
}
.THIS .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 350px;
}
.THIS .search-result-table th > *, .THIS .search-result-table td > * {
  max-width: 300px;
}
@media (max-width: 30em) {
    .THIS .navigation-button.slds-m-left_xx-small{
        margin-left: 0;
    }
}
.THIS:focus{
    outline: none !important;
 }